<h1>Some LCBO Products</h1>

<p><%= link_to "Next Page", products_path(page: @products['pager']['next_page']) %></p>
<p><%= link_to "Previous Page", products_path(page: @products['pager']['previous_page']) %></p>

<% @products['result'].each do |product| %>
  <h3><%= link_to product['name'], product_path(product) %></h3>
  <p><%= product['tertiary_category'] %></p>
  <p><%= product['tasting_note'] %></p>
  <p><%= product['serving_suggestion'] %></p>
<% end %>