<% product = @product['result'] %>
<h3><%= product['name'] %></h3>
<p><%= product['tertiary_category'] %></p>
<p><%= product['tasting_note'] %></p>
<p><%= product['serving_suggestion'] %></p>
<p><%= link_to 'Back', :back %></p>